/* Estilos generales */
body {
    font-family: Arial, sans-serif; /* Define la fuente de la página */
    margin: 0; /* Elimina el margen del cuerpo */
    padding: 0; /* Elimina el relleno del cuerpo */
}
/* Estilos del header y barra de navegación */
header {
    background-color: #83b993;
    position: fixed; /* Fija el header en la parte superior de la página */
    top: 0;
    width: 100%;
    z-index: 1000;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}
/* Lista de navegación */
#nav-list {
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}
#nav-list li a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
}
/* Botón de menú para pantallas pequeñas */
#nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}
section{
    margin: 100px;
    
}
/* Responsive para dispositivos móviles */
@media (max-width: 768px) {
    #nav-list {
        display: none;
        flex-direction: column;
        gap: 0;
        width: 100%;
        background-color: #457970;
        position: absolute;
        top: 100%;
        left: 0px;
    }

    #nav-toggle {
        display: block;
    }

    .nav-open #nav-list {
        display: flex;
    }
    #home{
        width: 100vw;
        height: 100vh;
        background-color: bisque;
    }
}

